* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255,235,235);
}
#carousel {
    overflow: hidden;
    position: relative;
    width: 500px;
    height: 300px;
}
ul {
    display: flex;
    list-style: none;
    width: 2500px;
    height: 300px;
    position: relative;    
    margin: 0;
    padding: 0;
    animation: slide 10s infinite ease-in-out;
}
/* Using a clone of the first Slide after the last slide
   to create the ilusion of a smooth transition back to 
   the first slide while returning fast to the real
   first slide */
ul::before,ul::after {
    content: 'Slide1';
    display: flex;
    width: 500px;
    height: 300px;
    font-size: 5rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background: rgb(200,100,50);
    border: 1px solid black;
    position: relative;
    z-index: 0;
}
li {
    display: flex;
    width: 500px;
    height: 300px;
    font-size: 5rem;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background: rgb(200,100,50);
    border: 1px solid black;
}
@keyframes slide {
  0%   { transform: translateX(-500px); }
  30%  { transform: translateX(-1000px); }
  60%  { transform: translateX(-1500px); }
  90%  { transform: translateX(-2000px); }
  90.1%  { transform: translateX(-500px); }
  100% { transform: translateX(-500px); }
}