* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #efefef;
}
.main-head {
    display: flex;
    color: #811889cd;
    font-weight: bold;
    justify-content: center;
    width: 100%;
}
.container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 5%;
}
.rating input {
    display: none;
}
.rating label {
    width: 59px;
    height: 60px;
    background-image: url('stars.png');
    background-repeat: 1;
    background-position: 292px 0;
    cursor: pointer;
}
.rating label:hover,
.rating label:hover ~ label {
    background-position: -173px 0;;
}
.rating input:checked + label ~ label {
    background-position: 292px 0;
}
.rating input:checked + label,
.rating input:checked + label ~ label {
    background-position: -173px 0;
}