* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
}
nav {
    display: flex;
    overflow: hidden;
    background-color: rgb(125,125,200);
}
nav.left {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    flex-direction: column;
}
nav.right {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 20%;
    flex-direction: column;
}
nav.top {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    flex-direction: row;
}
.sub-menu {
    overflow: hidden;
    float: left;
}
.sub-menu-title {
    font-size: 1rem;
    border: none;
    outline: none;
    color: white;
    padding: 0.9rem 1rem;
    margin: 0;
    background-color: rgb(125,125,200);
}
nav a {
    padding: 0.9rem 1rem;
    margin: 0;
}
nav button:hover {
    background-color: rgb(125,0,125);;
}
.sub-menu-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(174, 145, 233);
    width: 100%;
    
}
.sub-menu-content a {
    float: left;
    color: white;
    text-decoration: none;
    background-color: rgb(174, 145, 233);
}
.sub-menu-content a:hover {
    background-color: #eee;
    color: black;
}
.sub-menu:hover .sub-menu-content {
    display: block;
}
.container {
    display: block;
    position: absolute;
    left: 25%;
    top: 100px;
}
p {
    font-size: 1.1rem;
    width: 50%;
    border: 3px dashed rgb(174, 145, 233);
    padding: 10px;
}