* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #9f9f9f;
    font-size: 2rem;
}
.pop-word {
    background-color: white;
    font-size: 3rem;
    display: flex;
}
.pop-word span {
    display: inline-block;
    transition: transform 0.1s linear;
}
.pop-word span:hover {
    transform: translate(0,-10px) scale(1.2);
}