* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #9f9f9f;
    font-size: 2rem;
    height: 800px;
}
header, footer {
    display: flex;
    width: 100%;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
}
footer {
    height: 200px;
}
header, footer, section {
    background-color: white;
    font-weight: bold;
    padding: 20px;
}
header {
    height: 10%;
}
.container {
    display: flex;
    flex-flow: row wrap;
    height: calc(90% - 200px);
}
.content {
    width: 45%;
    border-left: 5px solid black;
    text-align: center;
}
.side {
    width: 10%;
    border-left: 5px solid black;
    border-right: 5px solid black;
    text-align: center;
}