* {
    box-sizing: border-box;
}
body{
    margin: 20px;
    background-color: rgb(255,235,235);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-flow: row;
    align-items: center;
}
div {
    width: 33%;
    text-align: center;
}
p {
    font-size: 1.3rem;
}
