* {
    box-sizing: border-box;
}
body{
    margin: 20px;
    background-color: rgb(255,235,235);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-flow: row;
}
div {
    width: 33%;
    text-align: center;
    border: 2px solid black;
    align-self: center;
    margin: 2px;
    padding: 2px;
}
p {
    font-size: 1.3rem;
}
