* {
    box-sizing: border-box;
}
body{
    margin: 20px;
    background-color: rgb(255,235,235);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-flow: row;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
}
.box {
    width: 33%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid black;
    align-self: center;
    margin: 2px;
    padding: 2px;
}
.box p {
    font-size: 1.3rem;
    margin: 0;
}
